html,body{
  width:100% ;
}



h1 { color: rgba(55, 0, 255, 0.521); font-family: 'Serif'; font-size: 18px;
background-color:rgba(255, 115, 0, 0.733); 
text-align:center}

h2{
  text-align: center;
  color:black
}
main{
background-color:rgba(0, 0, 0, 0.295);
padding-top:10px;
padding-bottom:10px;
}
p{
  text-align:center;
}
.bg_image{

  max-width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

div{
  width:100%;
}